body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.column--images {
	padding-top: 80px;
}

.column--images img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
	max-height: 300px;
	margin-bottom: 20px;
}
