body {
  background-color: #eee;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.r-component {
  background-color: #ccc;
  border: 1px dashed #8f8f8f;
  padding: 15px;
}
.r-component#r-app-container {
  background-color: #caa;
  border: 1px dashed #a26464;
}
.r-component#r-debug-panel {
  background-color: #aca;
  border: 1px dashed #64a264;
}
