bgBody = #eeeeee
bgComponent1 = #cccccc
bgComponent2 = #ccaaaa
bgComponent3 = #aaccaa
bgComponent4 = #aaaacc

innerPadding = 15px

body
  background-color: bgBody
  font-family: 'Helvetica', 'Arial', sans-serif

.r-component
  background-color: bgComponent1
  border: 1px dashed darken(bgComponent1, 30%)
  padding: innerPadding

  &#r-app-container
    background-color: bgComponent2
    border: 1px dashed darken(bgComponent2, 30%)

  &#r-debug-panel
    background-color: bgComponent3
    border: 1px dashed darken(bgComponent3, 30%)
